h1,img{
    color: blue;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.eq{
    color:green;
    display: block;
    text-align: center;
}
figcaption{
    display: block;
    text-align: center;
}
.title{
    display: block;
    text-align: center;
}